################################################################################
##
## This software is created by Molecular Genom Analysis Group
## Department of German Cancer Research Center in Heidelberg
##
##
##  NAMESPACE
##  Created on: Oct 23, 2008
##      Author: Rudolf Biczok <r.biczok@dkfz-heidelberg.de>
##      Description: ddCt NAMESPACE file
##
################################################################################

import(methods)
importFrom(BiocGenerics, as.data.frame)
importClassFrom(Biobase,
                eSet, ExpressionSet, VersionedBiobase, Versioned)
importFrom(Biobase,
           exprs,assayData,
           phenoData, pData, "phenoData<-", "pData<-",
           featureData, fData, "featureData<-", "fData<-",
           varLabels,
           varMetadata, "varMetadata<-",
           featureNames, "featureNames<-",
           sampleNames, "sampleNames<-")
importFrom(RColorBrewer, brewer.pal, brewer.pal.info)
importFrom(lattice,
           barchart,panel.barchart, panel.segments, panel.grid, panel.abline, panel.text)
importFrom(xtable, xtable)

## export what were imported
export(exprs,assayData,
       phenoData, pData, "phenoData<-", "pData<-",
       featureData, fData, "featureData<-", "fData<-",
       varLabels,
       varMetadata, "varMetadata<-",
       featureNames, "featureNames<-",
       sampleNames, "sampleNames<-",
       brewer.pal, brewer.pal.info,
       barchart,panel.barchart, panel.segments, panel.grid, panel.abline, panel.text,
       xtable)

## export class
exportClasses(ddCtExpression,
              InputFrame,
              ColMap)

exportClasses(InputReader,
              SDMReader,
              TSVReader,
              QuantStudioReader)

export(QuantStudioFrame, readQuantStudio,
       SDMFrame, readSDM,
       TSVFrame)

## register S3 method
S3method(as.data.frame, InputFrame)

export(barploterrbar,
       ddCtAbsolute,
       #ddCtSplit,
       #ddCtErrBarchart,
       elist,
       errBarchart,
       ColMap)

## report auxilliary functions
export(replaceVectorByEquality)

## report functions
export(write.htmltable,
       writeSimpleTabCsv)

exportMethods(level,
              levelErr,
              Ct,
              "Ct<-",
              CtErr,
              dCt,
              dCtErr,
              ddCt,
              ddCtErr,
              numberCt,
              numberNA,
              ddCtExpression,
              errBarchart,
              InputFrame,
              elistWrite)

## mainly for InputFrame
exportMethods(coreData,
              "coreData<-",
              rightCensoring,
              fileNames,
              sampleNames,
              "sampleNames<-",
              uniqueDetectorNames,
              "uniqueDetectorNames<-",
              uniqueSampleNames,
              "uniqueSampleNames<-",
              "detectorNames<-",
              detectorNames,
              "replaceDetector",
              "replaceSample",
              "removeDetector",
              "removeSample",
              "removeNTC")

export(DEFAULT.SAMPLE.COLNAME,
       DEFAULT.FEATURE.COLNAME,
       DEFAULT.CT.COLNAME)

## function utilities
export("getDir")
