################################################################################
##
## This software is created by Molecular Genom Analysis Group
## Department of German Cancer Research Center in Heidelberg
##
##
##  NAMESPACE
##  Created on: Oct 23, 2008
##      Author: Rudolf Biczok <r.biczok@dkfz-heidelberg.de>
##      Description: ddCt NAMESPACE file
##
################################################################################

import("Biobase")

## export class
exportClasses(ddCtExpression,
              InputFrame,
              InputReader,
              SDMReader,
              CSVReader,
              ColMap)

## register S3 method
S3method(as.data.frame, InputFrame)

export(
       barploterrbar,
       ddCtAbsolute,
       #ddCtSplit,
       #ddCtErrBarchart,
       elist,
       errBarchart,
       SDMFrame,
       CSVFrame,
       readSDM,
       ColMap)

## report auxilliary functions
export(replaceVectorByEquality)

## report functions
export(write.htmltable,
       writeSimpleTabCsv)

exportMethods(level,
              levelErr,
              Ct,
              "Ct<-",
              CtErr,
              dCt,
              dCtErr,
              ddCt,
              ddCtErr,
              numberCt,
              numberNA,
              ddCtExpression,
              errBarchart,
              InputFrame,
              elistWrite
              )

## mainly for InputFrame
exportMethods(coreData,
              "coreData<-",
              rightCensoring,
              fileNames,
              sampleNames,
              "sampleNames<-",
              uniqueDetectorNames,
              "uniqueDetectorNames<-",
              uniqueSampleNames,
              "uniqueSampleNames<-",
              "detectorNames<-",
              detectorNames,
              "replaceDetector",
              "replaceSample",
              "removeDetector",
              "removeSample",
              removeNTC)

## function utilities
export("getDir")
